<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품수정</title>
</head>

<body>
    <h1>상품수정</h1>
    <form action="" method="post" th:object="${form}">
        <div><label for="">상품명</label><input type="text" th:field="*{pname}"></div>
        <div><label for="">갯수</label><input type="text" th:field="*{count}"></div>
        <div><label for="">가격</label><input type="text" th:field="*{price}"></div>
        <div>
        <button type="submit">수정</button>
        </div>
    </form>
</body>
</html>